<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Atención de Desastres</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/menu/style.css">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="~/images/Logo.png" width="30" height="30"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                        aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                Inicio
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Emergencias" asp-action="Create">Reportar Emergencia</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Usuarios
                                </a>
                                <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
                                    <a class="dropdown-item" asp-area="" asp-controller="Administradores" asp-action="Index">Administradores</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Encargados" asp-action="Index">Encargados</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Funciones Entidades
                                </a>
                                <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
                                    <a class="dropdown-item" asp-area="" asp-controller="Entidades" asp-action="Index">Entidades</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="TipoDesastres" asp-action="Index">Desastres</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Funciones" asp-action="Index">Funciones</a>

                                </div>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Encargado"))
                        {
                              <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Emergencias" asp-action="Index">Emergencias Reportadas</a>
                        </li>

                        }
                    </ul>
                    <ul class="nav navbar-nav ml-auto">

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Administradores" asp-action="ChangeUser">@this.User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Salir</a>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole("Encargado"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Salir</a>
                            </li>                           

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Ingresar</a>
                            </li>
                        }

                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="footer-copyright text-center py-3">
                &copy; 2020 - Desarrollado por Henry Guerrero
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>   
    <script src="~/menu/script.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

